@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@inject IWebHostEnvironment Env

<DataAnnotationsValidator></DataAnnotationsValidator>

@if (Env.IsDevelopment())
{
    <TelerikValidationSummary>
        <Template Context="ValidationMessages">
            @if (ValidationMessages.Any())
            {
                <div class="validation-summary">
                    <div class="validation-summary-heading">Validation Errors</div>
                    @foreach (var validationMessage in ValidationMessages)
                    {
                        <div class="validation-row">
                            @validationMessage
                        </div>
                    }
                </div>
            }

        </Template>
    </TelerikValidationSummary>
}
