@using DataModels.Enums;

@page "/administration"

<PageTitle> Administration | Fly Manager  </PageTitle>

<div id="container">

    <TelerikTabStrip Class="k-tabstrip-list my-3">

        @foreach (var tab in menuItems)
        {
            string name = tab.Name;

            @if (name == Module.Company.ToString())
            {
                <TabStripTab>
                    <HeaderTemplate>
                        <span class="mx-2"><TelerikIcon Icon="email" /></span>
                        <strong>@tab.DisplayName</strong>
                    </HeaderTemplate>
                    <Content>
                        <Web.UI.Pages.Company.Index></Web.UI.Pages.Company.Index>
                    </Content>
                </TabStripTab>
            }
            else if (name == Module.User.ToString())
            {
                <TabStripTab>
                    <HeaderTemplate>
                        <span class="mx-2"><TelerikIcon Icon="email" /></span>
                        <strong>@tab.DisplayName</strong>
                    </HeaderTemplate>
                    <Content>
                        <Web.UI.Pages.User.Index></Web.UI.Pages.User.Index>
                    </Content>
                </TabStripTab>
            }
            else if (name == Module.UserRolePermission.ToString())
            {
                <TabStripTab>
                    <HeaderTemplate>
                        <span class="mx-2"><TelerikIcon Icon="email" /></span>
                        <strong>@tab.DisplayName</strong>
                    </HeaderTemplate>
                    <Content>
                        <Web.UI.Pages.UserRolePermission.Index></Web.UI.Pages.UserRolePermission.Index>
                    </Content>
                </TabStripTab>
            }
        }
        <TabStripTab>
                <HeaderTemplate>
                    <span class="mx-2"><TelerikIcon Icon="email" /></span>
                    <strong>Instructor Types</strong>
                </HeaderTemplate>
                <Content>
                    <Web.UI.Pages.InstructorType.Index></Web.UI.Pages.InstructorType.Index>
                </Content>
            </TabStripTab>

            <TabStripTab>
                <HeaderTemplate>
                    <span class="mx-2"><TelerikIcon Icon="email" /></span>
                    <strong>Location</strong>
                </HeaderTemplate>
                <Content>
                    <Web.UI.Pages.Location.Index></Web.UI.Pages.Location.Index>
                </Content>
            </TabStripTab>

            <TabStripTab>
                <HeaderTemplate>
                    <span class="mx-2"><TelerikIcon Icon="email" /></span>
                    <strong>Make</strong>
                </HeaderTemplate>
                <Content>
                    <Web.UI.Pages.AircraftMake.Index></Web.UI.Pages.AircraftMake.Index>
                </Content>
            </TabStripTab>

            <TabStripTab>
                <HeaderTemplate>
                    <span class="mx-2"><TelerikIcon Icon="email" /></span>
                    <strong>Model</strong>
                </HeaderTemplate>
                <Content>
                    <Web.UI.Pages.AircraftModel.Index></Web.UI.Pages.AircraftModel.Index>
                </Content>
            </TabStripTab>
    </TelerikTabStrip>
</div>