<div class="p-0 no-box-shadow" style="height: 100vh;">
    <div class="card-header">
        <div class="p-0 d-flex justify-content-between align-items-center">
            <span>Logbook Entries</span>
            <span>
                <TelerikButton Class="btn k-btn-primary" ThemeColor="primary" OnClick="(() => AddEntry())">
                    <CustomIcons IconName="add" PrimaryColor="White"></CustomIcons> Add
                </TelerikButton>
            </span>
        </div>
    </div>
    <div class="card-body">
        <div class="p-0 d-flex justify-content-between align-items-center">
            <span>
                <span class="tb-icon-container with-label d-flex align-items-center">
                    <span class="k-icon k-i-">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#3066F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <TelerikTextBox Title="Filter Entries" PlaceHolder="Filter Entries" />
                </span>
                <style>
                    .tb-icon-container {
                        position: relative;
                    }

                        /* these rules position the icon. Update with your own selector if you add HTML elements for click events */
                        .tb-icon-container .k-icon {
                            position: absolute;
                            z-index: 1;
                            top: 0;
                            padding: 0.65rem 0;
                            left: 0.5em;
                        }

                        /* no floating label */
                        .tb-icon-container input.k-textbox,
                        /* for the floating label */
                        .tb-icon-container .k-textbox input,
                        .tb-icon-container .k-state-empty .k-label {
                            padding-left: 2em;
                        }

                        /* this rule also positions the icon for the floating label scenario, tweak it with your own selectors if you use other HTML */
                        .tb-icon-container.with-label .k-icon {
                            top: 0.5em;
                        }
                </style>
            </span>
        </div>
    </div>
    <div class="card-header">
        <div class="p-0 d-flex justify-content-start align-items-center">
            <span>January 2023</span>
        </div>
    </div>
    <div class="card-body p-0">
        @for (int i = 0; i < 5; i++)
        {
            <div class="p-2">
                <div class="d-flex justify-content-between align-items-center logList">
                    <span class="d-flex justify-content-between align-items-center">
                        <span class="me-2">
                            <CustomIcons IconName="folder-1" PrimaryColor="black" />
                        </span>
                        <span>
                            <div>
                                <FontLabel fontColor="#042455">KADS KDWH</FontLabel>
                            </div>
                            <div>
                                <FontLabel fontColor="#555555">N958PT SR22</FontLabel>
                            </div>
                        </span>
                    </span>
                    <span class="d-flex justify-content-between align-items-center">
                        <span>
                            <div>
                                <FontLabel fontSize="10px" fontColor="#042455">Jan 05, 2022</FontLabel>
                            </div>
                            <div>
                                <FontLabel fontSize="10px" fontColor="#555555">2.1 Total</FontLabel>
                            </div>
                            <div>
                                <FontLabel fontSize="10px" fontColor="#555555">1 Approach</FontLabel>
                            </div>
                        </span>
                        <span class="ms-2">
                            <CustomIcons IconName="cheveron-right" PrimaryColor="black" />
                        </span>
                    </span>
                </div>
            </div>
            <hr class="m-0" />
        }
    </div>
    <div class="card-header">
        <div class="p-0 d-flex justify-content-start align-items-center">
            <span>Statistics</span>
        </div>
    </div>
    <div class="my-0" style="cursor:pointer">
        <div class="d-flex justify-content-between p-2 m-0" style="margin-left:10px;background: rgba(48, 102, 248, 0.05);" @onclick=@(() => {isDayListVisible = !isDayListVisible;})>

            <span class="my-1"> <FontLabel fontColor="#042455">Day</FontLabel></span>
            <span>
                <span class="my-1 mx-1 p-1">
                    @if (!isDayListVisible)
                    {
                        <CustomIcons IconName="arrow-down" PrimaryColor="black" />
                    }
                    else
                    {
                        <CustomIcons IconName="arrow-up" PrimaryColor="black" />
                    }
                </span>
            </span>
        </div>

        <div id="collapseOne" class="collapse @(isDayListVisible ? "show":"")" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <spna class="my-1"><FontLabel fontColor="#042455">Total Count</FontLabel></spna>

                <table class="table">
                    <thead>
                        <tr>
                            <th><FontLabel fontColor="#979797" fontWeight="400">Total</FontLabel></th>
                            <th><FontLabel fontColor="#979797" fontWeight="400">Per Month</FontLabel></th>
                            <th><FontLabel fontColor="#979797" fontWeight="400">Last Month</FontLabel></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><FontLabel fontColor="#042455">Flight Hours</FontLabel></td>
                            <td><FontLabel fontColor="#042455">242</FontLabel></td>
                            <td><FontLabel fontColor="#042455">F+12%</FontLabel></td>
                        </tr>
                        <tr>
                            <td><FontLabel fontColor="#042455">Landings</FontLabel></td>
                            <td><FontLabel fontColor="#042455">150</FontLabel></td>
                            <td><FontLabel fontColor="#042455">+8%</FontLabel></td>
                        </tr>
                        <tr>
                            <td><FontLabel fontColor="#042455">VFR / IFR</FontLabel></td>
                            <td><FontLabel fontColor="#042455">120 / 41</FontLabel></td>
                            <td><FontLabel fontColor="#042455">-2%</FontLabel></td>
                        </tr>
                        <tr>
                            <td><FontLabel fontColor="#042455">Instruction</FontLabel></td>
                            <td><FontLabel fontColor="#042455">5</FontLabel></td>
                            <td><FontLabel fontColor="#042455">+35%</FontLabel></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="p-2 d-flex justify-content-between">
            <span>Show Map</span>
            <span><CustomIcons IconName="map" PrimaryColor="black" /></span>
        </div>
    </div>
    <div>
        <div class="p-2 d-flex justify-content-between">
            <span>Flight (2)</span>
            <span>4.5 <CustomIcons IconName="cheveron-right" PrimaryColor="black" /></span>
        </div>
    </div>
    <div>
        <div class="p-2 m-0 d-flex justify-content-between" style="margin-left:10px;background: rgba(48, 102, 248, 0.05);">
            <span>Night</span>
            <span><CustomIcons IconName="cheveron-right" PrimaryColor="black" /></span>
        </div>
    </div>
</div>
@code {

}
