@using Web.UI.Shared.Components.FileUploader;

<span>
    Flight Photos
</span>

<div>

    <label>Aircraft Image</label>

    <CustomFileUpload DisplayName="test" IsFileAdded="false" 
    supportedFormats="@supportedImagesFormats">
                  </CustomFileUpload>


</div>