<TelerikTabStrip>
    <TabStripTab>
        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">
                <span class="mx-2">
                    <CustomIcons IconName="setting" PrimaryColor="#3066f8"></CustomIcons>
                </span>
                <span>Notifications</span>
            </div>
        </HeaderTemplate>
        <Content>

            <Web.UI.Pages.Company.DetailsView.Settings.Notifications.Index CompanyIdParam="@CompanyIdParam">
            </Web.UI.Pages.Company.DetailsView.Settings.Notifications.Index>

        </Content>
    </TabStripTab>

</TelerikTabStrip>