@using Data.Account;

@inject AccountService AccountService

@page "/AccountActivation"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@layout EmptyLayout

<PageTitle>Account Activation | Fly Manager </PageTitle>

<div class="col-lg-6 col-xl-8">
    <div class="m-3 text-center">
        @if (!IsValidToken || ShowError && string.IsNullOrWhiteSpace(Link))
        {
            <lottie-player src="../json/circle-alert-or-warning.json"
                       background="transparent"
                       speed="0.5"
                       loop autoplay>
            </lottie-player>
        }
        else
        {
            <lottie-player src="../json/circle-success-or-approved.json"
                       background="transparent"
                       speed="0.5"
                       loop autoplay>
            </lottie-player>
        }

        <h4 class="mb-3">@message</h4>
        <RadzenLink Path="buttons" Text="Go to Login" />
    </div>
</div>



