@using Data.Account;

@inject AccountService AccountService

@page "/AccountActivation"
@inject NavigationManager NavigationManager

@layout EmptyLayout




<div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-xl-4">
        <RadzenCard class="m-3 text-center">
            @if (!IsValidToken || ShowError && string.IsNullOrWhiteSpace(Link))
            {
                <lottie-player src="../json/circle-alert-or-warning.json"
                           background="transparent"
                           speed="0.5"
                           loop autoplay>
                </lottie-player>
            }
            else
            {
                <lottie-player src="../json/circle-success-or-approved.json"
                           background="transparent"
                           speed="0.5"
                           loop autoplay>
                </lottie-player>
            }
           
            <h4 class="mb-3">@message</h4>
            <RadzenLink Path="buttons" Text="Go to Login" />
        </RadzenCard>
    </div>
</div>



