@page "/Login"
@layout EmptyLayout
@namespace FSM.Blazor.Pages.Account
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRunTime

<div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-xl-4 ">
        <RadzenCard class="m-3">
            <h2 class="mb-4">Login</h2>
            <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>
                <RadzenLogin Login=@(args => OnLoginAsync(args, "Login with register and password reset"))
                             ResetPassword=@(args => OnResetPassword(args, "Login with register and password reset"))
                             AllowRegister="false" />
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</div>