################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/obj
/API/bin/Debug/net5.0
/DataModels/obj
/DataModels/bin/Debug/net5.0
/FlightScheduleManagement/bin
/FlightScheduleManagement/obj/Debug
/packages
/Repository/bin/Debug/net5.0
/Repository/obj
/Service/bin/Debug/net5.0
/Service/obj
/ViewModels/bin/Debug/net5.0
/ViewModels/obj
/Mapper/obj/Debug
/ViewModels/bin/Debug
/API/bin/Release/net5.0
/DataModels/bin/Release/net5.0
/FlightScheduleManagement/obj/Release
/Service/bin/Release/net5.0
/ViewModels/bin/Release
/Repository/bin/Release/net5.0
/FlightScheduleManagement/Properties
/PresentationLayer/bin/Debug/net5.0
/PresentationLayer/obj
/Configuration/obj/Debug/net5.0
/Configuration/obj
/Configuration/bin/Debug/net5.0
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/FMS/config/applicationhost.config
/.vs/FMS/v16/.suo
/PasswordTester
/UnitTestProject1
/.cr/personal/FavoritesList
/.vs/Flight Schedule Management App/v16/TestStore/0
/.vs/Flight Schedule Management App/v17
/TestProject1
/Configuration/bin/Debug/net6.0
/Configuration/bin/Debug/net6.0
/PresentationLayer/bin/Debug/net6.0
/Service/bin/Debug/net6.0
/Repository/bin/Debug/net6.0
/FSMAPI/bin/Debug/net6.0
/FSMAPI/obj
/FSMAPI/Uploads
/DataModels/bin/Debug/net6.0
/FSM.Blazor/bin/Debug/net6.0
/FSM.Blazor/obj
/Blazor.Services/bin/Debug/net6.0
/Blazor.Services/obj
/API
/PresentationLayer
/FSM.Blazor/bin/Release/net6.0
/FSM.Blazor/Properties
/FSMAPI/Properties
/FSMAPI/bin/Release/net6.0
/Configuration/bin/Release/net6.0
/DataModels/bin/Release/net6.0
/Repository/bin/Release/net6.0
/Service/bin/Release/net6.0/ref
/Service/bin/Release/net6.0
/Configuration/bin/x64/Debug/net6.0
/DataModels/bin/x64/Debug/net6.0
/FSM.Blazor/bin/x64/Debug/net6.0
/FSMAPI/bin/x64/Debug/net6.0
/Repository/bin/x64/Debug/net6.0
/Service/bin/x64/Debug/net6.0
/Utilities/obj
/Utilities/bin
/FSM.Blazor/Uploads/TempDocuments
/FSM.Blazor_Backup_2022.08.04_10.41.21/bin/Debug/net6.0
/FSM.Blazor_Backup_2022.08.04_10.41.21
/Web.UI/bin/Debug/net6.0
/Web.UI/obj
/FSMAPI/appsettings.Production.json
/FSM.Blazor/appsettings.Production.json
/Web.UI/appsettings.Development.json
/FSMAPI/appsettings.Development.json
/.vs/VSWorkspaceState.json
/.vs/ProjectEvaluation/flight schedule management app.projects.v2
/.vs/ProjectEvaluation/flight schedule management app.metadata.v2
/.vs/Flight Schedule Management App/FileContentIndex/write.lock
/.vs/Flight Schedule Management App/FileContentIndex/read.lock
/.vs/Flight Schedule Management App/FileContentIndex/merges/76567ba6-7719-4725-abfa-e5d7aa90eaca.vsidx
/.vs/Flight Schedule Management App/FileContentIndex/b9c54cee-e5d6-42e3-9727-a9f2f1792601.vsidx
/.vs/.NET-Core-6.0-WIth-Blazor/v17/.suo
/.vs/Flight Schedule Management App/FileContentIndex/9826c109-3b5a-46f2-8c7a-f3038a8f9d89.vsidx
/.vs
*.png
/Web.UI/Uploads/TempDocuments/cendien_infor_lawson_consultant_charlee (7).pdf
/Web.UI/bin/Release/net6.0/ref
/Web.UI/bin/Release/net6.0
/Web.UI/Properties/PublishProfiles
/Web.UI/Properties/ServiceDependencies/FlyManagerDev - Web Deploy/profile.arm.json
/PasswordDescryptor
/Web.UI_Backup_2022.09.14_10.29.07/bin/Release/net6.0
/Web.UI_Backup_2022.09.14_10.29.07
/Web.UI/appsettings.Production.json
/Web.UI_Backup_2023.01.26_02.37.41
/Web.UI_Backup_2023.01.26_12.24.51
/Flight Schedule Management App_Report_2023.01.26_12.24.53.htm
/Flight Schedule Management App_Report_2023.01.26_02.37.47.htm
