@page "/Maps"

<PageTitle>Maps | Upflyte </PageTitle>
<div id="container">
    <div class="card">
        <TelerikTabStrip Class="k-tabstrip-list">

             <TabStripTab>
                <HeaderTemplate>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="mx-2">
                            <Web.UI.Shared.Components.CustomIcon.CustomIcons IconName="maps" PrimaryColor="#3066f8" />
                        </span>
                        <span>Map</span>
                    </div>
                </HeaderTemplate>
                <Content>
                    <VFR />
                </Content>
            </TabStripTab>

             <TabStripTab>
                <HeaderTemplate>
                    <div class="d-flex justify-content-center align-items-center">

                        <span class="mx-2">
                            
                            <Web.UI.Shared.Components.CustomIcon.CustomIcons IconName="aircraft-live-tracking" PrimaryColor="#3066f8"></Web.UI.Shared.Components.CustomIcon.CustomIcons>

                        </span>
                        <span>Tarcking</span>
                    </div>
                </HeaderTemplate>
                <Content>
                    <AircraftLiveTracker></AircraftLiveTracker>
                </Content>
            </TabStripTab>

            
             <TabStripTab>
                <HeaderTemplate>
                    <div class="d-flex justify-content-center align-items-center">

                        <span class="mx-2">
                            
                            <Web.UI.Shared.Components.CustomIcon.CustomIcons IconName="chart" PrimaryColor="#3066f8"></Web.UI.Shared.Components.CustomIcon.CustomIcons>

                        </span>
                        <span>Chart</span>
                    </div>
                </HeaderTemplate>
                <Content>
                   @* <AircraftLiveTracker></AircraftLiveTracker>*@
                </Content>
            </TabStripTab>
           
        </TelerikTabStrip>
    </div>
</div>
