@inherits LayoutComponentBase

<style>
    body {
        background-color: white !important
    }

    .k-scheduler-views-wrapper
    {
        display: none !important
    }

    .accordion
    {
        margin: 10px !important;
    }
</style>

<TelerikRootComponent>
    <div>
        @Body
    </div>
</TelerikRootComponent>

