@inherits LayoutComponentBase

<RadzenNotification />

<link href="css/EmptyLayout.min.css" rel="stylesheet" />

@*<div class="row" style="width:100%;">
    <div class="column">

        <RadzenImage Style="width:100%;height:100%" Path="../img/login-page-aircraft.jpeg"></RadzenImage>

    </div>

    <div class="column">
        <div class="row vh-100 d-flex justify-content-center align-items-center">
            @Body
        </div>
    </div>
</div>
*@
<TelerikRootComponent>
<div class="row" style="width:100%;">
    <div class="column">
        <div class=""></div>
        <img Style="width:100%;height:100%" src="../img/login-page-aircraft.jpeg" />
    </div>
    <div class="column">
        <div class="row vh-100 d-flex justify-content-center align-items-center">
            @Body
        </div>
    </div>
</div>
</TelerikRootComponent>
