@inherits LayoutComponentBase

<link href="css/EmptyLayout.min.css" rel="stylesheet" />

<TelerikNotification @ref="@UINotification.Instance"
                     HorizontalPosition="@NotificationHorizontalPosition.Right"
                     VerticalPosition="@NotificationVerticalPosition.Top"
                     Class="small-notification">

</TelerikNotification>

<TelerikRootComponent>

    <CascadingValue IsFixed="true" Value="@UINotification">
        <div class="row" style="width:100%;">
            <div class="column">
                <div class="row vh-100 d-flex justify-content-center align-items-center login-page-aircraft"></div>
            </div>
            <div class="column">
                <div class="row vh-100 d-flex justify-content-center align-items-center">
                    @Body
                </div>
            </div>
        </div>
    </CascadingValue>
</TelerikRootComponent>

@code {

    UINotification UINotification { get; set; } = new UINotification();
}
