@using System;
@using System.ComponentModel.DataAnnotations;
@using DataModels.VM.Account;

@page "/AccountActivation"

@layout EmptyLayout
@namespace Web.UI.Pages.Account

@inject IJSRuntime JSRunTime

<PageTitle>Account Activation | Fly Manager </PageTitle>

<div class="row vh-100 align-items-center m-0">
    <div class="col-md-3 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="upfly-logo mt-2 d-flex justify-content-center">
                    <CustomIcons IconName="system-logo"></CustomIcons>
                </div>
                <div>
                    <div class="text-center m-5">
                        <div class="mb-3">
                            <CustomIcons IconName="right-check" PrimaryColor="#34A853" />
                        </div>
                        <div class="mb-3">
                            <span><FontLabel fontSize="25px">Your Account Activated</FontLabel></span>
                        </div>
                        <div>
                            <a href="/login" style="color:#1151F3"> Go to Login </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

