@page "/Registration"

@layout EmptyLayout

<style>

    .tabUI {
        width: 50%
    }

</style>

<PageTitle> Register | Upflyte </PageTitle>

<div class="row vh-100 align-items-center m-0">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="upfly-logo mt-2 mb-2 d-flex justify-content-center">
                    <CustomIcons IconName="system-logo"></CustomIcons>
                </div>
                <div class="m-1">
                    <div class="login-wrap">
                        <div class="d-flex justify-content-center"><h5>sign up to Upflyte</h5></div>
                        <TelerikTabStrip Class="k-tabstrip-list mt-2" ActiveTabIndex="@currentStep">
                            <TabStripTab Class="tabUI">
                                <HeaderTemplate>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="mx-2">
                                            <CustomIcons IconName="company" PrimaryColor="#3066f8"></CustomIcons>
                                        </span>
                                        <span>Company Details</span>
                                    </div>
                                </HeaderTemplate>
                                <Content>
                                    <Web.UI.Pages.Company.Create FromAuthoriseSection="true" companyData="@companyData" IsInvited=@userVM.IsInvited GoToNext="@(() => GoToNextStepAsync())">

                                    </Web.UI.Pages.Company.Create>
                                </Content>

                            </TabStripTab>

                            <TabStripTab Disabled="true" Class="tabUI">
                                <HeaderTemplate>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="mx-2">
                                            <CustomIcons IconName="userrolepermission" PrimaryColor="#3066f8"></CustomIcons>
                                        </span>
                                        <span>Personal Details</span>
                                    </div>
                                </HeaderTemplate>
                                <Content>
                                    <Web.UI.Pages.User.Create FromAuthoriseSection="true" userData="@userVM" GoBackStep=@GoToBackStep SaveBothStepsValue=@SaveAsync>

                                    </Web.UI.Pages.User.Create>
                                </Content>

                            </TabStripTab>


                        </TelerikTabStrip>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

