<div id="accordion" class="@Class">
    <div class="card @(CardClass)">
        <div class="card-header cursor-pointer @(HeaderClass)" style="border-bottom: 0;" id="heading" @onclick=@(() => ToggleCollapseExpande())>
            @HeaderContent
        </div>
        <div id="collapseOne" class=" collapse @(IsFilterBarVisible ? "show":"")" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body ">
                @ChildContent
            </div>
        </div>
    </div>
</div> 