<div id="accordion" class="@Class">
    <div class="card">
        <div class="card-header cursor-pointer" id="headingOne" @onclick=@(() => ToggleCollapseExpande())>
            @HeaderContent
        </div>
        <div id="collapseOne" class="collapse @(IsFilterBarVisible ? "show":"")" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @ChildContent
            </div>
        </div>
    </div>
</div> 