
<style>
    .drag-area {
        width: 100%;
        height: 106px;
        background: #F8F8F8;
        border: 0.5px dashed #606060;
        border-radius: 8px;
    }

    .icon > svg {
        width: 30;
        height: 30;
    }

    .header {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
    }

    .invalid {
        border-color: red !important;
        background: #ffd1d178 !important
    }

    .valid {
        background: #3066f81c !important
    }
</style>


<div image-container>

    <label class="drag-area d-flex align-items-center k-cursor-pointer @(IsFileUploadHasError ? "invalid" : "valid") " for="documentImage">
        <span class="text-center mx-auto">

            @if (IsFileAdded)
            {
                <span>@DisplayName</span>
            }
            else
            {
                <span class="icon"><CustomIcons IconName="upload-cloud" /></span>
                <span class="header">Drag and drop or <br /> browse to choose images</span>
            }

        </span>
    </label>
    <InputFile Id="documentImage" style="display:none" OnChange="OnInputFileChangeAsync" Value="@DisplayName" />
</div>


