<div class="dropdown ">
    <button class="btn btn-secondary @(StyleClass)" type="button" id="dropdownMenuButton"
            aria-haspopup="true" aria-expanded="false" @onclick=@(() => ToggleShowMenu())>
        <div class="">
            <img src="https://mir-s3-cdn-cf.behance.net/user/115/5a206b20984315.60746bc251979.jpg" 
            style="height: 40px;width: 40px;border-radius:50px">
            <span id="name" class="mx-2">Vishal Modi</span>
        </div>
    </button>
 
    @if (BSDropdownItemList.Count > 0)
    {
        <div class="dropdown-menu ms-2 @(ShowMenuItem ? "d-block":"")" aria-labelledby="dropdownMenuButton">
            @foreach (var item in BSDropdownItemList)
            {
                 <a class="dropdown-item" href="@(item.URL)">@(item.DisplayValue)</a>
            }
        </div>
    }
</div> 