$BG-PRIMARY-COLOR: #1151F3;
$BG-SECONDARY-COLOR: rgba(17, 81, 243, 0.16);
$BG-LIGHT-COLOR: #E9EAED;
$BG-INFO-COLOR: #12A4F5;
$BG-SUCCESS-COLOR: #009B51;
$BG-WARNING-COLOR: #FFAE11;
$BG-DANGER-COLOR: #F31155;

.bg-primary-f {
    background-color: $BG-PRIMARY-COLOR;
}

.bg-secondary-f {
    background-color: $BG-SECONDARY-COLOR;
}

.bg-light-f {
    background-color: $BG-LIGHT-COLOR;
}

.bg-info-f {
    background-color: $BG-INFO-COLOR;
}

.bg-success-f {
    background-color: $BG-SUCCESS-COLOR;
}

.bg-warning-f {
    background-color: $BG-WARNING-COLOR;
}

.bg-danger-f {
    background-color: $BG-DANGER-COLOR;
}

/* RADZEN TEXTBOX,TEXTAREA START*/
.rz-textbox, .rz-textarea {
    &.valid {
        background-color: #F5F5F5;
    }

    &.invalid {
        background-color: #FFD1D178;
        border: 1px solid #FF0000;
    }
}

/* RADZEN TEXTBOX,TEXTAREA END*/
.rz-dropdown {
    &.valid {
        background-color: #F5F5F5;
    }

    &.invalid {
        background-color: #FFD1D178;
        border: 1px solid #FF0000;
    }
}

.rz-label {
    margin-bottom: 5px;
}

form .btn-primary  {
    margin-right: 4px
}

form .btn-success {
    margin-right: 4px
}

form .btn-danger {
    margin-right: 4px
}
