@using FSM.Blazor.Data.Common
@using Syncfusion.Blazor.Spinner
@using DataModels.Enums;

@inject MenuService MenuService
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime
@inject IHttpContextAccessor httpContextAccessor
@inject IHttpClientFactory ClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

@page "/administration"

<PageTitle> Administration | Fly Manager  </PageTitle>

<div id="container">

    <SfSpinner @bind-Visible="@isDisplayLoader">
    </SfSpinner>

    @if (menuItems == null)
    {
        return;
    }

    <RadzenTabs RenderMode="TabRenderMode.Client" Change="@(args => Change(args))">
        <Tabs>

            @foreach (var tab in menuItems)
            {
                string name = tab.Name;

                @if (name == Module.Company.ToString())
                {
                    <RadzenTabsItem Text=@tab.DisplayName Icon="account_balance">
                        <FSM.Blazor.Pages.Company.Index></FSM.Blazor.Pages.Company.Index>
                    </RadzenTabsItem>
                }
                else if (name == Module.User.ToString())
                {
                    <RadzenTabsItem Text=@tab.DisplayName Icon="person">
                        <FSM.Blazor.Pages.User.Index ></FSM.Blazor.Pages.User.Index>
                    </RadzenTabsItem>
                }
                else if (name == Module.InstructorType.ToString())
                {
                    <RadzenTabsItem Text=@tab.DisplayName Icon="account_box">
                        <FSM.Blazor.Pages.InstructorType.Index></FSM.Blazor.Pages.InstructorType.Index>
                    </RadzenTabsItem>
                }
                else if (name == Module.UserRolePermission.ToString())
                {
                    <RadzenTabsItem Text=@tab.DisplayName Icon="lock_open">
                        <FSM.Blazor.Pages.UserRolePermission.Index></FSM.Blazor.Pages.UserRolePermission.Index>
                    </RadzenTabsItem>
                }
            }

           <RadzenTabsItem Text="Instructor Types" Icon="assignment_ind">

                <FSM.Blazor.Pages.InstructorType.Index></FSM.Blazor.Pages.InstructorType.Index>

            </RadzenTabsItem>

            <RadzenTabsItem Text="Location" Icon="location_on">

                <FSM.Blazor.Pages.Location.Index></FSM.Blazor.Pages.Location.Index>

            </RadzenTabsItem>
            
            <RadzenTabsItem Text="Make" Icon="flight_takeoff">

                <FSM.Blazor.Pages.AircraftMake.Index></FSM.Blazor.Pages.AircraftMake.Index>

            </RadzenTabsItem>

             <RadzenTabsItem Text="Model" Icon="flight_takeoff">

                <FSM.Blazor.Pages.AircraftModel.Index></FSM.Blazor.Pages.AircraftModel.Index>

            </RadzenTabsItem>

        </Tabs>

    </RadzenTabs>

</div>
