@using FSM.Blazor.Data.Common
@using Syncfusion.Blazor.Spinner
@using DataModels.Enums;

@inject MenuService MenuService
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime
@inject IHttpContextAccessor httpContextAccessor
@inject IHttpClientFactory ClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

@page "/administration"

<div id="container">

    <SfSpinner @bind-Visible="@isDisplayLoader">
    </SfSpinner>

    @if (menuItems == null)
    {
        return;
    }

    <RadzenTabs RenderMode="TabRenderMode.Client">
        <Tabs>

            @foreach (var tab in menuItems)
            {
                string name = tab.Name;

                <RadzenTabsItem Text=@name>

                    @if(name == Module.Company.ToString())
                    {
                        <FSM.Blazor.Pages.Company.Index></FSM.Blazor.Pages.Company.Index>
                    }
                    else if(name == Module.User.ToString())
                    {
                        <FSM.Blazor.Pages.User.Index></FSM.Blazor.Pages.User.Index>
                    }
                     else if(name == Module.InstructorType.ToString())
                    {
                        <FSM.Blazor.Pages.InstructorType.Index></FSM.Blazor.Pages.InstructorType.Index>
                    }
                     else if(name == Module.UserRolePermission.ToString()) 
                    {
                        <FSM.Blazor.Pages.UserRolePermission.Index></FSM.Blazor.Pages.UserRolePermission.Index>
                    }

                </RadzenTabsItem>
            }

        </Tabs>
    </RadzenTabs>

</div>
