@namespace Web.UI.Pages.Dashboard
@page "/"


<PageTitle>Dashboard | Fly Manager </PageTitle>

<h1>Dasboard</h1>
<button @onclick="@(() => LoadData())">Load data</button>
@* TODO 
<AuthorizeView>
    <div class="container-fluid p-0" style="position: relative">
        <div class="row no-gutters mx-n2">
            <div class="col-lg-3 p-2">
                <RadzenCard>
                    <div class="text-center">
                        <img style="width: 120px; border-radius: 50%; margin: 20px 0;" src="https://avatars.githubusercontent.com/u/6995051?v=4" />
                        <h4>
                            <!--USER NAME-->
                            Johnathon Mathow
                        </h4>
                        <RadzenButton Radzen.ButtonType="Radzen.ButtonType.Button" ButtonStyle="ButtonStyle.Light" Text="Update Profile pic" BusyText="Saving ..." />
                    </div>
                </RadzenCard>
                <RadzenCard class="p-0 my-2">
                    <div class="bg-dark text-white d-flex justify-content-between align-items-center p-3 m-0">
                        <span ><h4 class="text-white m-0">FLY PRIVILAGES</h4></span>
                        <span ><h5 class="text-white m-0"></h5></span>
                    </div>
                    <div class="text-center mt-2">
                        <h4 >
                            <!--Allowes privilages-->
                            Doesn't have any privilages.
                        </h4>
                    </div>
                </RadzenCard>
                <RadzenCard class="p-0 my-2 ">
                    <div class="text-white bg-primary-f d-flex justify-content-between align-items-center p-3 m-0">
                        <span ><h4 class="text-white m-0">TOTAL TIME</h4></span>
                        <span ><h5 class="text-white m-0">00:00 Hrs.</h5></span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between p-2">
                            <span>Private Flights.</span>
                            <span>25:00 Hrs.</span>
                        </div>
                        <div class="d-flex justify-content-between p-2">
                            <span>Commercial Flights.</span>
                            <span>10:30 Hrs.</span>
                        </div>
                        <div class="d-flex justify-content-between p-2">
                            <span>Ferry Flights.</span>
                            <span>05:00 Hrs.</span>
                        </div>

                    </div>
                </RadzenCard>
            </div>
            <div class="col-lg-9 p-2">
                <RadzenCard>
                    <RadzenTabs RenderMode="TabRenderMode.Client">
                        <Tabs>
                            <RadzenTabsItem Text="Details" Icon="account_balance">
                                <div class="row">
                                    <div class="col-md-6 align-items-center d-flex">
                                        <RadzenLabel Text="First Name" />
                                    </div>
                                    <div class="col-md-6 align-items-center d-flex">
                                        <RadzenLabel Text="Last Name" />
                                    </div>
                                    <div class="col-md-6">
                                        <RadzenTextBox style="width: 100%;" Name="FirtsName" Value="Johnathon" Placeholder="First Name" />
                                        <RadzenRequiredValidator Component="FirtsName" Text="Firt name is required" />
                                    </div>
                                    <div class="col-md-6">
                                        <RadzenTextBox style="width: 100%;" Name="LastName" Value="Mathow" Placeholder="Last Name" />
                                        <RadzenRequiredValidator Component="LastName" Text="Last name is required" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 align-items-center d-flex">
                                        <RadzenLabel Text="Email" />
                                    </div>
                                    <div class="col-md-6 align-items-center d-flex">
                                        <RadzenLabel Text="Mobile No" />
                                    </div>
                                    <div class="col-md-6">
                                        <RadzenTextBox style="width: 100%;" Name="Email" Value="Test@yopmail.com" Placeholder="Email" />
                                        <RadzenEmailValidator Component="Email" Text="Please enter valid email address" Popup="@isPopup" Style="position: relative"></RadzenEmailValidator>
                                        <RadzenRequiredValidator Component="Email" Text="Email is required" Popup="@isPopup" Style="position: relative"></RadzenRequiredValidator>
                                    </div>
                                    <div class="col-md-6">
                                        <RadzenTextBox style="width: 100%;" ShowUpDown="false" TValue="int?" Name="Phone" Value="6547891321" Placeholder="Phone No" />
                                        <RadzenRegexValidator Component="Phone" Text="Please enter 10 digits no" Pattern="\d{10}" Popup=@isPopup Style="position: relative" />
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6 align-items-center d-flex">
                                        <RadzenLabel Text="Gender" />
                                    </div>
                                    <div class="col-md-6 align-items-center d-flex ">
                                         
                                    </div>
                                    <div class="col-md-6">
                                        <RadzenRadioButtonList Style="outline:none" Value=0 TValue="int">
                                            <Items>
                                                <RadzenRadioButtonListItem Text="Male" Value="0" />
                                                <RadzenRadioButtonListItem Text="Female" Value="1" />
                                            </Items>
                                        </RadzenRadioButtonList>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                                        <RadzenButton Radzen.ButtonType="Radzen.ButtonType.Button" ButtonStyle="ButtonStyle.Light" Text="Update Account" BusyText="Saving ..." />
                                    </div>
                                </div>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Company" Icon="account_balance">

                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Users" Icon="person">
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Instructor Type" Icon="account_box">
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Location" Icon="location_on">
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenCard>
                <RadzenCard class="p-0 my-2 ">
                    <div class="bg-primary-f d-flex justify-content-between align-items-center">
                        <span><h5 class="text-white p-3 m-0">MY CERTIFICATES</h5></span>
                        <span class="d-flex align-items-center p-3 m-0">

                            <RadzenButton Radzen.ButtonType="Radzen.ButtonType.Button" ButtonStyle="ButtonStyle.Light" Text="ADD CERTIFICATES" BusyText="Saving ..." />
                        </span>
                    </div>
                    <div class="text-center mt-2">
                        <h4>
                            <!--Allowes privilages-->
                            DOESN'T HAVE ANY PRIVILAGES.
                        </h4>
                    </div>
                </RadzenCard>
                <RadzenCard class="p-0 my-2 ">
                    <div style="background-color:#0083A6" class="bg-primary-f d-flex justify-content-between align-items-center">
                        <span><h5 class="text-white p-3 m-0">PILOT DOCUMENT FOLDER</h5></span>
                        <span class="d-flex align-items-center p-3 m-0">

                            <RadzenButton Radzen.ButtonType="Radzen.ButtonType.Button" ButtonStyle="ButtonStyle.Light" Text="UPLOAD" BusyText="Saving ..." />
                        </span>
                    </div>
                    <div class="text-center mt-2">
                        <h4>
                            <!--Allowes privilages-->
                            NO FILES UPLOADED.
                        </h4>
                    </div>
                </RadzenCard>
                <RadzenCard class="p-0 my-2 ">
                    <div  class="bg-primary-f d-flex justify-content-between align-items-center">
                        <span><h5 class="text-white p-3 m-0">LOGBOOK</h5></span>
                        <span class="d-flex align-items-center p-3 m-0">

                            <RadzenButton Radzen.ButtonType="Radzen.ButtonType.Button" ButtonStyle="ButtonStyle.Light" Text="ADD LOGS" BusyText="Saving ..." />
                        </span>
                    </div>
                    <div class="text-center mt-2">
                        <h4>
                            <!--Allowes privilages-->
                            No LOGS FOUND.
                        </h4>
                    </div>
                </RadzenCard>
            </div>
        </div>
    </div>
</AuthorizeView> *@