@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
html, body {
  font-family: Outfit, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.k-drawer {
  font-family: Outfit, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*NEW COLOR PLATE*/
/*Title Text Color*/
/*Paragraph Text Color*/
/*Body Background Color*/
/*Button Text Color*/
/*Disabled Text Color*/
/*$BG-BTN-SECONDARY:#022A6A;
$BG-BTN-SUCCESS: #022A6A;
$BG-BTN-DANGER: #022A6A;
$BG-BTN-WARNING: #022A6A;
$BG-BTN-INFO: #022A6A;
$BG-BTN-LIGHT: #022A6A;
$BG-BTN-DARK: #022A6A;
$BG-BTN-LINK: #022A6A;*/
/*Card BACKGROUND COLOR */
body {
  background: #E1DEDE !important;
}

.bg-primary-f {
  background-color: #022254;
}

.bg-secondary-f {
  background-color: rgba(17, 81, 243, 0.16);
}

.bg-light-f {
  background-color: #E9EAED;
}

.bg-info-f {
  background-color: #12A4F5;
}

.bg-success-f {
  background-color: #009B51;
}

.bg-warning-f {
  background-color: #FFAE11;
}

.bg-danger-f {
  background-color: #EE0808;
}

form .btn-primary {
  margin-right: 4px;
}

form .btn-success {
  margin-right: 4px;
}

form .btn-danger {
  margin-right: 4px;
}

/*.icon-container {
    width: 50px;
    height: 50px;
    position: relative;
}*/
form .row {
  margin-bottom: 16px;
}

/*img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}*/
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}

.TelerikNotification .k-notification-container .k-notification-wrap {
  width: 300px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
}

.big-notification .k-notification-container .k-notification-wrap {
  width: 350px;
  height: 100px;
}

.big-notification {
  z-index: 1234;
}

html, body, app, .k-drawer-container, .k-drawer-content, .main {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.main {
  overflow-y: auto;
  background-color: #F5F7FF;
}
.main .content {
  /*margin-left: 16px !important;*/
  padding: 0;
  /*margin-right: 16px !important;*/
  /*background-color: red;*/
}
.main .content .left-header {
  max-height: 54px;
  min-height: 54px;
  background-color: #022254;
  color: white;
}

.k-drawer-content {
  overflow-x: auto;
  font-size: 16px;
}

.top-row {
  left: 0;
}

.drawer-hamburger {
  position: absolute;
  z-index: 2;
}

/*.k-drawer-item:hover, .k-drawer-item.k-state-hover, .text-info {
    color: whitesmoke !important;
    background-color: #96B9EF;
}*/
/*LEFT MENU NAV BAR*/
.k-drawer-mini .k-drawer-wrapper {
  /*width: calc(2 * 2rem + 16px);*/
  width: 84px;
}

.k-drawer-container.k-drawer-left.k-drawer-push.k-drawer-mini {
  /*.k-drawer-wrapper {
      //width: 0;
  }*/
}
.k-drawer-container.k-drawer-left.k-drawer-push.k-drawer-mini.k-drawer-expanded .k-drawer-wrapper {
  width: 270px !important;
}

.user-face {
  padding: 34px;
  font-size: 16px;
}

.k-button.drawer-hamburger {
  background: transparent;
  color: white;
  border: 0;
  box-shadow: none;
  padding: 34px;
  /* .k-button-md.k-icon-button {
      padding: 34px;
  }*/
}

.telerik-blazor.k-drawer {
  background-color: #022254;
  color: white;
}
.telerik-blazor.k-drawer .k-drawer-item {
  border-left: 6px solid #022254;
  /*height: 35px;*/
}
.telerik-blazor.k-drawer .k-drawer-item .selected-arrow {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f5f7ff;
}
.telerik-blazor.k-drawer .selected-nav-item {
  background-color: #013587;
  border-left: 6px solid #0062FE;
}
.telerik-blazor.k-drawer .k-drawer-item:hover, .telerik-blazor.k-drawer .k-drawer-item.k-state-hover {
  color: white;
  background-color: #022a6a;
}

.btn.k-btn-primary {
  border: 1px solid #022254 !important;
  background-color: #022254 !important;
}
.btn.k-btn-primary:hover {
  color: white;
  border: 1px solid #022a6a !important;
  background-color: #022a6a !important;
}
.btn.k-btn-danger {
  color: white;
  border: 1px solid #EE0808 !important;
  background-color: #EE0808 !important;
}
.btn.k-btn-danger:hover {
  color: white;
  border: 1px solid #CA2323 !important;
  background-color: #CA2323 !important;
}
.btn.k-btn-info {
  border: 1px solid #008EA4 !important;
  background-color: #008EA4 !important;
}
.btn.k-btn-info:hover {
  color: white;
  border: 1px solid #17A2B8 !important;
  background-color: #17A2B8 !important;
}
.btn.k-btn-secondary {
  margin-left: 5px;
}
.btn.k-btn-secondary:hover {
  color: white;
}

.login-button {
  width: 100% !important;
}

/*TOP HORIZONTAL HEADER START*/
.header-profile-dropdown {
  background-color: #022254 !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}
.header-profile-dropdown:hover {
  background-color: #022254 !important;
}

.dropdown-menu {
  box-shadow: 0 4px 8px 0 rgba(2, 34, 84, 0.35), 0 6px 20px 0 rgba(2, 34, 84, 0.61) !important;
}

.show-notification-dot {
  position: relative !important;
  top: -3px !important;
  color: red;
  content: "";
  height: 0.6em;
  width: 0.6em;
  background: currentColor;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -0.65em;
  transform: translateY(-50%);
}

/*TOP HORIZONTAL HEADER END*/
/*TelerikTabStrip START*/
.k-tabstrip-list .k-tabstrip-items-wrapper {
  z-index: 0;
}

/* Popup buttons */
.close-button {
  cursor: pointer;
  border: none;
  background: none;
  color: #FFFF;
}

.k-actions-start {
  justify-content: flex-end;
}

.cancel-btn {
  margin-left: 8px;
}

/*TelerikTabStrip END*/
/*Telerik toastr notification*/
.sm-notification {
  z-index: 1;
}

/*Telerik Card Css*/
.flight-info-card {
  width: 1106px;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
}

.card-fonts {
  font-size: 18px;
  font-weight: 600;
}

.image-card-info {
  border: 1px solid #575757;
  border-radius: 8px;
  width: 251px;
}

.flight-cards {
  width: 251px;
  background: #537AB7 !important;
  border: 1px solid #575757;
  border-radius: 8px;
  color: #FFFF;
}

.k-tabstrip-items-wrapper .k-item {
  color: #CCCCCC;
}
