@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
/*html, body, .selected-font {
    font-family: 'Readex Pro','Helvetica Neue', Helvetica, Arial, sans-serif !important;
}


.k-drawer, .k-tabstrip-items {
    font-family: 'Readex Pro','Helvetica Neue', Helvetica, Arial, sans-serif !important;
}*/
* {
  font-family: "Readex Pro";
}

/*NEW COLOR PLATE*/
/*$SOLID-COLOR: #9E27B0;*/
/*Title Text Color*/
/*Paragraph Text Color*/
/*Body Background Color*/
/*Button Text Color*/
/*Disabled Text Color*/
/*$BG-MENU-ITEM-SELECTED: #d4ecf3;*/
/*$BG-BTN-SECONDARY:#022A6A;
$BG-BTN-SUCCESS: #022A6A;
$BG-BTN-DANGER: #022A6A;
$BG-BTN-WARNING: #022A6A;
$BG-BTN-INFO: #022A6A;
$BG-BTN-LIGHT: #022A6A;
$BG-BTN-DARK: #022A6A;
$BG-BTN-LINK: #022A6A;*/
/*$BG-LIGHT-BLUE: #96B9EF;*/
/*Card BACKGROUND COLOR */
/*Custom Colors*/
body {
  background: #E1DEDE !important;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.5490196078);
}

.bg-primary-f {
  background-color: #3066F8;
}

.bg-secondary-f {
  background-color: rgba(17, 81, 243, 0.16);
}

.bg-light-f {
  background-color: #E9EAED;
}

.bg-info-f {
  background-color: #12A4F5;
}

.bg-success-f {
  background-color: #009B51;
}

.bg-warning-f {
  background-color: #FFAE11;
}

.bg-danger-f {
  background-color: #EE0808;
}

form .btn-primary {
  margin-right: 4px;
}

form .btn-success {
  margin-right: 4px;
}

form .btn-danger {
  margin-right: 4px;
}

/*.icon-container {
    width: 50px;
    height: 50px;
    position: relative;
}*/
form .row {
  margin-bottom: 16px;
}

.telerik-blazor.k-invalid input, .telerik-blazor.k-invalid button, .telerik-blazor.k-invalid k-autocomplete {
  background: rgba(255, 209, 209, 0.4705882353);
}
.telerik-blazor.k-invalid button {
  background: #ffd1d1;
}

/*img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}*/
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  top: 0;
  position: absolute;
}

/*GLOBAL CLASSES*/
.card, .k-card.telerik-blazor {
  /*box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.1);*/
  border-radius: 8px;
}

.TelerikNotification .k-notification-container .k-notification-wrap {
  width: 300px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
}

.big-notification .k-notification-container .k-notification-wrap {
  width: 350px;
  height: 100px;
}

.big-notification {
  z-index: 1234;
}

html, body, app, .k-drawer-container, .k-drawer-content, .main {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.main {
  overflow-y: auto;
  background-color: #F5F7FF;
}
.main .content {
  padding: 0;
}
.main .content .left-header {
  max-height: 54px;
  min-height: 54px;
  background-color: #022254;
  color: white;
}

.k-drawer-content {
  overflow-x: auto;
  font-size: 16px;
}

.top-row {
  left: 0;
}

.drawer-hamburger {
  position: absolute;
  z-index: 2;
}

/*LEFT MENU NAV BAR*/
.k-drawer-mini .k-drawer.k-drawer-start {
  border-right-width: 0;
}

.k-drawer-expanded .k-drawer.k-drawer-start {
  border-right-width: thin;
  border-right-color: lightgrey;
}

.k-drawer-left.k-drawer-mini .k-drawer {
  border-right-width: 0;
}

.k-drawer-left.k-drawer-expanded .k-drawer {
  border-right-width: 0;
}

.k-drawer-mini .k-drawer-wrapper {
  width: 70px;
}

.k-drawer-container.k-drawer-left.k-drawer-push.k-drawer-mini.k-drawer-expanded .k-drawer-wrapper {
  width: 230px !important;
}

.k-drawer-top-header {
  background-color: #022254;
}

.user-face {
  padding: 34px;
  font-size: 12px;
  color: black !important;
}

.k-button.drawer-hamburger {
  background: transparent !important;
  color: #121D2D !important;
  border: 0;
  box-shadow: none;
  padding: 0 34px 0 34px;
}

.telerik-blazor.k-drawer {
  background-color: WHITE;
  color: white;
}
.telerik-blazor.k-drawer .k-drawer-item {
  border-left: 6px solid WHITE;
  font-size: 12px;
}
.telerik-blazor.k-drawer .k-drawer-item .selected-arrow {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(245, 247, 255);
}
.telerik-blazor.k-drawer .menu-item-text-color {
  color: #121D2D;
}
.telerik-blazor.k-drawer .selected-nav-item {
  background-color: rgba(48, 102, 248, 0.0588235294);
  border-left: 6px solid #3066F8;
  /*Update class according */
}
.telerik-blazor.k-drawer .selected-nav-item .menu-item-text-color {
  color: #3066F8 !important;
}
.telerik-blazor.k-drawer .k-drawer-item:hover, .telerik-blazor.k-drawer .k-drawer-item.k-state-hover {
  color: white !important;
  background-color: #eee;
}
.telerik-blazor.k-drawer .k-drawer-item:hover .menu-item-text-color, .telerik-blazor.k-drawer .k-drawer-item.k-state-hover .menu-item-text-color {
  color: #3066F8;
}

.btn.edit-button {
  background-color: #438AFE !important;
  color: #FFFFFF !important;
}
.btn.k-btn-primary {
  border: 1px solid #3066F8 !important;
  background-color: #3066F8 !important;
}
.btn.k-btn-primary:hover {
  color: white;
  border: 1px solid #022a6a !important;
  background-color: #022a6a !important;
}
.btn.k-btn-primary:focus {
  outline: none !important;
  box-shadow: 0 0 0px 2px rgba(62, 128, 237, 0.3);
}
.btn.k-btn-danger {
  color: white;
  border: 1px solid #EE0808 !important;
  background-color: #EE0808 !important;
}
.btn.k-btn-danger:hover {
  color: white;
  border: 1px solid #CA2323 !important;
  background-color: #CA2323 !important;
}
.btn.k-btn-info {
  border: 1px solid #008EA4 !important;
  background-color: #008EA4 !important;
}
.btn.k-btn-info:hover {
  color: white;
  border: 1px solid #17A2B8 !important;
  background-color: #17A2B8 !important;
}
.btn.k-btn-secondary {
  margin-left: 5px;
}
.btn.k-btn-secondary:hover {
  color: white;
}

.k-button.k-button-Outline-secondary {
  border: 1px solid #3066f8 !important;
  color: #3066f8 !important;
}
.k-button.k-button-Outline-secondary:hover {
  border: 1px solid #3066f8 !important;
  color: white !important;
  background-color: #3066f8 !important;
}

.login-button {
  width: 100% !important;
}

/*TOP HORIZONTAL HEADER START*/
.header-profile-dropdown {
  background-color: #022254 !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}
.header-profile-dropdown:hover {
  background-color: #022254 !important;
}

.dropdown-menu {
  box-shadow: 0 4px 8px 0 rgba(2, 34, 84, 0.35), 0 6px 20px 0 rgba(2, 34, 84, 0.61) !important;
  z-index: 1051;
}

.show-notification-dot {
  position: relative !important;
  top: -3px !important;
  color: red;
  content: "";
  height: 0.6em;
  width: 0.6em;
  background: currentColor;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -0.65em;
  transform: translateY(-50%);
}

/*TOP HORIZONTAL HEADER END*/
/*TelerikTabStrip START*/
.k-tabstrip-list .k-tabstrip-items-wrapper {
  z-index: 0;
}

/* Popup buttons */
.close-button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.hr-gray {
  border: 1px solid #bfbfbf;
}

.hr-blue {
  border: 1px solid #EBECF3;
}

.k-form-buttons {
  margin-top: 0;
}

.k-form-buttons.k-actions-start {
  justify-content: flex-end !important;
  display: flex !important;
}

/*.k-actions-start {
    justify-content: flex-end;
}
*/
/*TelerikTabStrip END*/
/*Telerik toastr notification*/
.sm-notification {
  z-index: 1;
}

/*Telerik Card Css*/
.flight-info-card {
  border: 2px solid #E0E0E0;
  border-radius: 8px;
}
.flight-info-card .k-card.telerik-blazor {
  height: 200px;
}

.card-fonts {
  font-size: 18px;
  font-weight: 600;
}

.image-card-info {
  border-radius: 8px;
}

.flight-cards {
  background: #FFFFFF !important;
  border-radius: 8px;
  color: black !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border: 0px solid;
}

.k-tabstrip-items-wrapper .k-item {
  color: #CCCCCC !important;
}

.k-tabstrip-top .k-tabstrip-items-wrapper {
  margin-bottom: 0;
}
.k-tabstrip-top .k-tabstrip-items-wrapper .k-tabstrip-item.k-item:hover {
  background-color: #eee;
  color: #3066F8 !important;
}

.k-tabstrip-items {
  /*padding: 15px;*/
}
.k-tabstrip-items .k-tabstrip-item.k-item .k-link {
  font-size: 12px;
  color: #111111 !important;
  border-right: 2px solid rgba(17, 17, 17, 0.141);
}
.k-tabstrip-items .k-tabstrip-item.k-item:focus {
  box-shadow: none !important;
}
.k-tabstrip-items .k-tabstrip-item.k-item.k-active.k-tab-on-top {
  border: 0 !important;
}
.k-tabstrip-items .k-tabstrip-item.k-item.k-active .k-link {
  border-bottom: 4px solid #3066F8;
  background: rgba(48, 102, 248, 0.0588235294) !important;
  /*color: $WHITE-TEXT !important;*/
}

.k-input-solid {
  background-color: #FCFCFC !important;
}

.invalid {
  background-color: rgba(255, 209, 209, 0.4705882353);
  border: 1px solid #FF0000;
}

.k-input-inner {
  background-color: rgba(48, 102, 248, 0.0588235294);
}

.k-input-button, .k-input-button:hover {
  background-color: rgba(48, 102, 248, 0.2588235294);
}

.k-btn-grid-delete {
  background-color: #c00 !important;
  border-color: #c00 !important;
}

.k-btn-grid-edit {
  background-color: #009B51 !important;
  border-color: #009B51 !important;
}

.k-btn-grid-share {
  background-color: #673AB7 !important;
  border-color: #673AB7 !important;
}

.k-btn-grid-download {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.initial-data-loader .k-loader-container-overlay.k-overlay-light {
  background-color: white;
}

.k-loader-container {
  z-index: 100;
}

.component-title {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.custom-elipse {
  box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
  }
}
/*Modal style*/
.modal {
  position: fixed;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: block;
}
.modal .close {
  cursor: pointer;
  font-size: 18px;
}
.modal .modal-dialog {
  z-index: 1055;
  background-color: #ffffff;
  border-radius: 20px 20px 12px 12px !important;
}
.modal .modal-dialog.modal-md-new {
  width: 730px;
}
.modal .modal-dialog.modal-md-new .modal-content {
  width: 730px;
}
.modal .modal-header {
  border-radius: 12px 12px 0 0 !important;
  height: 50px;
}
.modal .modal-content {
  border-radius: 12px !important;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
.modal .modal-backdrop.show {
  opacity: 0.8;
}

.k-wizard-buttons {
  display: none !important;
}

.k-wizard .k-wizard-content {
  overflow-x: hidden !important;
}

.custom-border-y {
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  width: 100%;
  padding: 4px 0;
}

.row.compact-row > .col-6 {
  padding: 10px;
}

label, a,
.text-14 {
  font-size: 12px !important;
}

.text-16 {
  font-size: 16px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

th, td, span, p {
  font-size: 12px !important;
}

.k-scheduler-row {
  font-size: 12px !important;
}

/*TELERIK TEXTBOX INNER TEXT FONT SIZE & PLACEHOLDER SIZE*/
.k-input-inner {
  font-size: 12px;
}

/*TOASTR CLASS*/
.k-notification-group {
  z-index: 1060 !important;
}

.k-notification {
  max-width: 400px;
}

.ap-title {
  color: #042455;
  background: #E3E3E3;
}

.ap-value {
  color: #042455;
  /*background: #F8F8F8;*/
  border-bottom: 2px solid #E3E3E3;
}

.ad-text {
  padding: 5px !important;
}

.nearby-weather-1 {
  border-bottom: 2px solid #E3E3E3;
}

.common-bg, .common-bg > .k-input-inner, .common-bg > .k-input-button {
  background: rgba(48, 102, 248, 0.0588235294) !important;
}

.k-input-md .k-input-button {
  background-color: rgba(48, 102, 248, 0.3098039216) !important;
}

.weather-brify {
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  max-width: 200px;
}

#collapseOne .card-body {
  padding: 0px 7px 5px 5px !important;
}

/*Update all controll height*/
.k-input {
  height: 31px !important;
}

.k-multiselect {
  height: auto !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.k-calendar-sm.k-month-calendar, .k-calendar-sm .k-calendar-monthview {
  --INTERNAL--kendo-calendar-cell-size: var( --kendo-calendar-sm-month-cell-size, 38px );
}

.highlightDates {
  border: 1px solid rgba(21, 203, 55, 0.7) !important;
  border-radius: 50%;
}

.k-calendar-custom-small {
  width: 100% !important;
}
.k-calendar-custom-small .k-calendar-header {
  width: 100% !important;
  display: block !important;
}
.k-calendar-custom-small .k-calendar-view.k-calendar-monthview {
  margin: 0 !important;
  padding: 0 4px;
  width: 100%;
}
.k-calendar-custom-small .k-calendar-view.k-calendar-monthview table {
  border-spacing: 10px;
}
.k-calendar-custom-small .k-calendar-view.k-calendar-monthview .k-calendar-td {
  inline-size: var(--INTERNAL--kendo-calendar-cell-size, 25px);
  block-size: var(--INTERNAL--kendo-calendar-cell-size, 25px);
}
.k-calendar-custom-small .k-calendar-view.k-calendar-monthview .k-calendar-td .k-link {
  border-radius: 50%;
}
.k-calendar-custom-small .k-calendar-view.k-calendar-monthview .k-calendar-table.k-month {
  margin: 0 !important;
}
.k-calendar-custom-small .k-calendar-thead > .k-calendar-tr > .k-calendar-th, .k-calendar-custom-small .k-calendar-tbody > .k-calendar-tr > .k-calendar-th {
  width: 20px !important;
  height: 20px !important;
}

.profile-image-hover .highlight-hover {
  background-color: transparent;
  border: transparent;
}

.profile-image-hover:hover .highlight-hover {
  padding: 5px 10px !important;
  border-color: #3066f8 !important;
  background-color: #3066f8 !important;
  border-radius: 8px;
}

@media (max-width: 1440px) and (min-width: 1200px) {
  .col-xl-2 {
    width: 20% !important;
  }
  .col-xl-10 {
    width: 80% !important;
  }
}
@media (max-width: 2000px) and (min-width: 1441px) {
  .col-xl-2 {
    width: 20% !important;
  }
  .col-xl-10 {
    width: 80% !important;
  }
}
