@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
html, body {
  font-family: "Readex Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.k-drawer {
  font-family: "Readex Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: none !important;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

form .row {
  margin-bottom: 16px;
}

.rz-card {
  padding: 0px !important;
  width: 87% !important;
}

.p-md-5 {
  padding: 2rem !important;
}

.mb-4 {
  margin-top: -1rem;
}

.login-wrap {
  width: 100%;
}

.login-wrap {
  position: relative;
  background: #fff h3;
  background-font-weight: 3000;
}

.form-group {
  position: relative;
}

.form-group .label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-weight: 700;
}

.form-control {
  height: 36px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2) !important;
}

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
}

.btn.btn-primary {
  background: #1151F3 !important;
  border: 1px solid #1151F3 !important;
  color: #fff !important;
}
