<div class="form-group row">
    <RadzenLabel Text="Tail No" />

    <div class="col-sm-10">
        <RadzenLabel Text="@(AircraftData.TailNo)" />
    </div>
</div>

<div class="form-group row">
    <RadzenLabel Text="Year" />

    <div class="col-sm-10">
        <RadzenLabel Text="@(AircraftData.Year)" />
    </div>

</div>
<div class="form-group row">

    <RadzenLabel Text="Make" />
    <div class="col-sm-10">

        <RadzenLabel Text="@(AircraftData.AircraftMakeList.Where(x => x.Id == AircraftData.AircraftMakeId).FirstOrDefault().Name)" />
    </div>
</div>

<div class="form-group row">

    <RadzenLabel Text="Model" />

    <div class="col-sm-10">
        <RadzenLabel Text="@(AircraftData.AircraftModelList.Where(x => x.Id == AircraftData.AircraftModelId).FirstOrDefault().Name)" />
    </div>

</div>

