@page "/Scheduler"

<PageTitle> Scheduler | Fly Manager  </PageTitle>


<div id="container">
    <div class="card">

<TelerikTabStrip Class="k-tabstrip-list">
    
    <TabStripTab>
        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">
                <span class="mx-2">
                    <Web.UI.Shared.Components.CustomIcon.CustomIcons 
                    IconName="scheduler" PrimaryColor="#3066f8"></Web.UI.Shared.Components.CustomIcon.CustomIcons>
                </span>
                <span>Scheduler</span>
            </div>
        </HeaderTemplate>
        <Content>
            <Web.UI.Pages.Scheduler.SchedulerIndex></Web.UI.Pages.Scheduler.SchedulerIndex>
        </Content>
    </TabStripTab>

    <TabStripTab>
        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">

                <span class="mx-2">
                    <CustomIcons IconName="reservation" PrimaryColor="#3066f8"></CustomIcons>
                </span>
                <span>Reservations</span>
            </div>
        </HeaderTemplate>
        <Content>
            <Web.UI.Pages.Reservation.Index></Web.UI.Pages.Reservation.Index>
        </Content>
    </TabStripTab>


</TelerikTabStrip>

    </div>
</div>