
<TelerikTabStrip Class="k-tabstrip-list">

    <TabStripTab>

        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">

                <span>General</span>
            </div>
        </HeaderTemplate>
        <Content>
            <Create discrepancyData="@discrepancyData" CloseDialogCallBack="@CloseDialog"></Create>
        </Content>
    </TabStripTab>

    @if (discrepancyData.DiscrepancyHistoryVM.Count() > 0)
    {
            <TabStripTab>

                <HeaderTemplate>
                    <div class="d-flex justify-content-center align-items-center">

                        <span>History</span>
                    </div>
                </HeaderTemplate>
                <Content>
                    <DiscrepancyHistory discrepancyHistoryData="@discrepancyData.DiscrepancyHistoryVM" CloseDialogCallBack="@CloseDialog"></DiscrepancyHistory>
                </Content>
            </TabStripTab>
    }

</TelerikTabStrip>