@using Radzen.Blazor;
@using DataModels.VM.Aircraft;
@using DataModels.Entities;

<RadzenFieldset Text="Aircraft Equipment Times Info">

    <div class="row mt-2 mb-2">
        <div class="col-md-6 col-12 align-items-center d-flex">
            <RadzenLabel Text=@("Air Frame Hours") />
        </div>
        <div class="col-md-6 col-12">
            <RadzenTextBox style="width: 100%;" TValue="int" Value=@AircraftData.AircraftEquipmentTimesList[0].Hours.ToString()
                           Placeholder="Please enter hours" ValueChanged=@(args => ManageHoursChange(0, args)) />

        </div>
    </div>

    @{ engineIndex = 0;}

    @for (int engineNo = 1; engineNo <= AircraftData.NoofEngines; engineNo++)
    {
        int engineIndexValue = engineNo;
        engineIndex++;

        <div class="row mt-2 mb-2">
            <div class="col-md-6 col-12 align-items-center d-flex">
                <RadzenLabel Text=@("Engine " + engineIndex + " Hours") />
            </div>
            <div class="col-md-6 col-12">
                <RadzenTextBox style="width: 100%;" TValue="int" Value=@AircraftData.AircraftEquipmentTimesList[engineNo].Hours.ToString()
                           Placeholder="Please enter hours" ValueChanged=@(args => ManageHoursChange(engineIndexValue, args)) />
            </div>
        </div>
    }

    @{propellerIndex = 0;}
    @for (int proppellerNo = AircraftData.NoofEngines + 1; proppellerNo < (AircraftData.NoofPropellers + AircraftData.NoofEngines + 1); proppellerNo++)
    {
        int proppellerIndexValue = proppellerNo;
        propellerIndex++;

        <div class="row mt-2 mb-2">
            <div class="col-md-6 col-12 align-items-center d-flex">
                <RadzenLabel Text=@("Propeller " + propellerIndex + " Hours") />
            </div>
            <div class="col-md-6 col-12">
                <RadzenTextBox style="width: 100%;" TValue="int" Value=@AircraftData.AircraftEquipmentTimesList[proppellerIndexValue].Hours.ToString()
                           Placeholder="Please enter hours" ValueChanged=@(args => ManageHoursChange(proppellerIndexValue, args)) />
            </div>
        </div>
    }
</RadzenFieldset>
