@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');



/*html, body, .selected-font {
    font-family: 'Readex Pro','Helvetica Neue', Helvetica, Arial, sans-serif !important;
}


.k-drawer, .k-tabstrip-items {
    font-family: 'Readex Pro','Helvetica Neue', Helvetica, Arial, sans-serif !important;
}*/

* {
    font-family: 'Readex Pro'
}


/*NEW COLOR PLATE*/
$PRIMARY-COLOR: #03AAFC;
$SECONDARY-COLOR: #042455;
$NEUTRAL-COLOR: #1F1F1F;
/*$SOLID-COLOR: #9E27B0;*/
$SOLID-COLOR: #438AFE;

$STATE-INFO-COLOR: #2F80ED;
$STATE-SUCCESS-COLOR: #27AE60;
$STATE-WARNING-COLOR: #E2B93B;
$STATE-ERROR-COLOR: #EB5757;
/*Title Text Color*/
$TITLE-TEXT-VWHITE: #020E22;
$TITLE-TEXT-VDARK: #F7FAFF;
/*Paragraph Text Color*/
$PARAGRAPH-TEXT-VWHITE: #4D4D4D;
$PARAGRAPH-TEXT-VDARK: #042455;
/*Body Background Color*/
$BODY-BACKGROUND-VWHITE: #042455;
$BODY-BACKGROUND-VDARK: #042455;

/*Button Text Color*/
$BUTTON-TEXT-VWHITE: #042455;
$BUTTON-TEXT-VDARK: #042455;
/*Disabled Text Color*/
$DISABLED-TEXT-VDARK: #042455;

$BG-DARK-BLUE: #022254;
$BG-LIGHT-BLUE: #03AAFC;
$BG-MENU-ITEM: #0062FE;
$BG-MENU-ITEM-TEXT-COLOR: #121D2D;
/*$BG-MENU-ITEM-SELECTED: #d4ecf3;*/
$BG-MENU-ITEM-SELECTED: #03AAFC0f;
$BG-MENU-ITEM-SELECTED-L-BORDER: #03AAFC;
$BG-MENU-TITLE-HEADER: #1E374F;
$BG-MENU-ITEM-HOVER: #eee;
$BG-MAIN-MENU: WHITE;

$BG-BTN-PRIMARY: #03AAFC;
$BG-BTN-PRIMARY-HOVER: #0D89DD;
$BG-BTN-DANGER: #EE0808;
$BG-BTN-DANGER-HOVER: #CA2323;
$BG-BTN-INFO: #008EA4;
$BG-BTN-INFO-HOVER: #17A2B8;
$BG-SECONDARY: #979797;
$BG-SECONDARY-BUTTON: #03AAFC;
/*$BG-BTN-SECONDARY:#022A6A;
$BG-BTN-SUCCESS: #022A6A;
$BG-BTN-DANGER: #022A6A;
$BG-BTN-WARNING: #022A6A;
$BG-BTN-INFO: #022A6A;
$BG-BTN-LIGHT: #022A6A;
$BG-BTN-DARK: #022A6A;
$BG-BTN-LINK: #022A6A;*/

/*$BG-LIGHT-BLUE: #96B9EF;*/
$BG-BLUE: #0062FE;
$BG-COMMON-GRAY: #E1DEDE;

$BG-PRIMARY-COLOR: #1151F3;
$BG-SECONDARY-COLOR: rgba(17, 81, 243, 0.16);
$BG-LIGHT-COLOR: #E9EAED;
$BG-INFO-COLOR: #12A4F5;
$BG-SUCCESS-COLOR: #009B51;
$BG-WARNING-COLOR: #FFAE11;
$BG-DANGER-COLOR: #EE0808;

/*Card BACKGROUND COLOR */
$BG-FLIGHT-CARD: #FFFFFF;
$TEXT-TAB-STRIP: #CCCCCC;
$BG-ACTIVE-TAB: #1E8A88;
$WHITE-TEXT: #FFFFFF;

/*Custom Colors*/
$RED-COLOR: #c00;
$GREEN-COLOR: #009B51;
$PURPLE-COLOR: #673AB7;
$BLUE-COLOR: #0d6efd;

body {
    background: $BG-COMMON-GRAY !important;
}

hr {
    border: 1px solid #ffffff8c;
}

.bg-primary-f {
    background-color: $BG-LIGHT-BLUE;
}

.bg-secondary-f {
    background-color: $BG-SECONDARY-COLOR;
}

.bg-light-f {
    background-color: $BG-LIGHT-COLOR;
}

.bg-info-f {
    background-color: $BG-INFO-COLOR;
}

.bg-success-f {
    background-color: $BG-SUCCESS-COLOR;
}

.bg-warning-f {
    background-color: $BG-WARNING-COLOR;
}

.bg-danger-f {
    background-color: $BG-DANGER-COLOR;
}

form .btn-primary {
    margin-right: 4px
}

form .btn-success {
    margin-right: 4px
}

form .btn-danger {
    margin-right: 4px
}

/*.icon-container {
    width: 50px;
    height: 50px;
    position: relative;
}*/

form .row {
    margin-bottom: 16px;
}

.telerik-blazor.k-invalid {
    input, button, k-autocomplete {
        background: #ffd1d178;
    }

    button {
        background: #ffd1d1;
    }
}
/*img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}*/
.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    top: 0;
    position: absolute;
}
/*GLOBAL CLASSES*/
.card, .k-card.telerik-blazor {
    /*box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.1);*/
    border-radius: 8px;
}

.TelerikNotification .k-notification-container .k-notification-wrap {
    width: 300px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    align-items: center;
}

.big-notification .k-notification-container .k-notification-wrap {
    width: 350px;
    height: 100px;
}

.big-notification {
    z-index: 1234;
}

html, body, app, .k-drawer-container, .k-drawer-content, .main {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.main {
    overflow-y: auto;
    background-color: #F5F7FF;

    .content {
        padding: 0;

        .left-header {
            max-height: 54px;
            min-height: 54px;
            background-color: $BG-MENU-TITLE-HEADER;
            color: white;
        }
    }
}

.k-drawer-content {
    overflow-x: auto;
    font-size: 16px
}

.top-row {
    left: 0;
}

.drawer-hamburger {
    position: absolute;
    z-index: 2;
}

/*LEFT MENU NAV BAR*/
.k-drawer-mini {
    .k-drawer.k-drawer-start {
        border-right-width: thin;
        border-right-color: #d3d3d3;
    }
}

.k-drawer-expanded {
    .k-drawer.k-drawer-start {
        border-right-width: thin;
        border-right-color: #d3d3d3;
    }
}

.k-drawer-left.k-drawer-mini {
    .k-drawer {
        border-right-width: 0;
    }
}

.k-drawer-left.k-drawer-expanded {
    .k-drawer {
        border-right-width: 0;
    }
}



.k-drawer-mini .k-drawer-wrapper {
    width: 70px;
}

.k-drawer-container.k-drawer-left.k-drawer-push.k-drawer-mini {
    &.k-drawer-expanded {
        .k-drawer-wrapper {
            width: 230px !important;
        }
    }
}

.k-drawer-top-header {
    background-color: $BG-MENU-TITLE-HEADER
}

.user-face {
    padding: 34px;
    font-size: 12px;
    color: black !important;
}

.k-button.drawer-hamburger {
    background: transparent !important;
    color: $BG-MENU-ITEM-TEXT-COLOR !important;
    border: 0;
    box-shadow: none;
    padding: 0 34px 0 34px;
}

.telerik-blazor {
    &.k-drawer {
        background-color: $BG-MAIN-MENU;
        color: white;

        .k-drawer-item {
            border-left: 6px solid $BG-MAIN-MENU;
            font-size: 12px;

            .selected-arrow {
                width: 0;
                height: 0;
                position: absolute;
                right: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid rgb(245 247 255);
            }
        }

        .menu-item-text-color {
            color: $BG-MENU-ITEM-TEXT-COLOR;
        }

        .selected-nav-item {
            background-color: $BG-MENU-ITEM-SELECTED;
            border-left: 6px solid $BG-MENU-ITEM-SELECTED-L-BORDER;
            /*Update class according */
            .menu-item-text-color {
                color: #03AAFC !important;
            }
        }

        .k-drawer-item:hover, .k-drawer-item.k-state-hover {
            color: white !important;
            background-color: $BG-MENU-ITEM-HOVER;

            .menu-item-text-color {
                color: #03AAFC;
            }
        }
    }
}

.btn {
    &.edit-button {
        background-color: $SOLID-COLOR !important;
        color: $WHITE-TEXT !important;
    }

    &.k-btn-primary {
        border: 1px solid $BG-BTN-PRIMARY !important;
        background-color: $BG-BTN-PRIMARY !important;
    }

    &.k-btn-primary:hover {
        color: white;
        border: 1px solid $BG-BTN-PRIMARY-HOVER !important;
        background-color: $BG-BTN-PRIMARY-HOVER !important;
    }

    &.k-btn-primary:focus {
        outline: none !important;
        box-shadow: 0 0 0px 2px rgb(62 128 237 / 30%);
    }

    &.k-btn-danger {
        color: white;
        border: 1px solid $BG-BTN-DANGER !important;
        background-color: $BG-BTN-DANGER !important;
    }

    &.k-btn-danger:hover {
        color: white;
        border: 1px solid $BG-BTN-DANGER-HOVER !important;
        background-color: $BG-BTN-DANGER-HOVER !important;
    }

    &.k-btn-info {
        border: 1px solid $BG-BTN-INFO !important;
        background-color: $BG-BTN-INFO !important;
    }

    &.k-btn-info:hover {
        color: white;
        border: 1px solid $BG-BTN-INFO-HOVER !important;
        background-color: $BG-BTN-INFO-HOVER !important;
    }

    &.k-btn-secondary {
        margin-left: 5px;
    }

    &.k-btn-secondary:hover {
        color: white;
    }
}

.k-button {
    &.k-button-Outline-secondary {
        border: 1px solid $BG-SECONDARY-BUTTON !important;
        color: $BG-SECONDARY-BUTTON !important;
    }

    &.k-button-Outline-secondary:hover {
        border: 1px solid $BG-SECONDARY-BUTTON !important;
        color: white !important;
        background-color: $BG-SECONDARY-BUTTON !important
    }
}

.login-button {
    width: 100% !important;
}

/*TOP HORIZONTAL HEADER START*/

.header-profile-dropdown {
    &:hover {
        background-color: $BG-MENU-TITLE-HEADER !important;
    }

    background-color: $BG-MENU-TITLE-HEADER !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    box-shadow: 0 4px 8px 0 rgb(2 34 84 / 35%), 0 6px 20px 0 rgb(2 34 84 / 61%) !important;
    z-index: 1051;
}

.show-notification-dot {
    position: relative !important;
    top: -3px !important;
    color: red;
    content: '';
    height: .60em;
    width: .60em;
    background: currentColor;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -.65em;
    transform: translateY(-50%);
}
/*TOP HORIZONTAL HEADER END*/

/*TelerikTabStrip START*/
.k-tabstrip-list {
    &.logbook {
        .k-tabstrip-content {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 0 !important;
        }

        .k-tabstrip-content:has(.logbook-2) {
            padding: 1rem 1rem !important;
        }
    }



    .k-tabstrip-items-wrapper {
        z-index: 0;
    }
}

/* Popup buttons */

.close-button {
    cursor: pointer;
    border: none;
    background: none;
    color: #FFFF;
}

.hr-gray {
    border: 1px solid #bfbfbf;
}

.hr-blue {
    border: 1px solid #EBECF3;
}

.k-form-buttons {
    margin-top: 0;
}

.k-form-buttons.k-actions-start {
    justify-content: flex-end !important;
    display: flex !important;
}
/*.k-actions-start {
    justify-content: flex-end;
}
*/

/*TelerikTabStrip END*/

/*Telerik toastr notification*/
.sm-notification {
    z-index: 1;
}

/*Telerik Card Css*/
.flight-info-card {
    border: 2px solid #E0E0E0;
    border-radius: 8px;

    .k-card.telerik-blazor {
        height: 200px;
    }
}

.card-fonts {
    font-size: 18px;
    font-weight: 600;
}

.image-card-info {
    border-radius: 8px;
}

.flight-cards {
    background: $BG-FLIGHT-CARD !important;
    border-radius: 8px;
    color: black !important;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    border: 0px solid;
}

.k-tabstrip-items-wrapper .k-item {
    color: $TEXT-TAB-STRIP !important;
}

.k-tabstrip-top {
    .k-tabstrip-items-wrapper {
        margin-bottom: 0;

        .k-tabstrip-item.k-item:hover {
            background-color: $BG-MENU-ITEM-HOVER;
            color: #03AAFC !important;
        }
    }
}

.k-tabstrip-items {
    /*padding: 15px;*/

    .k-tabstrip-item.k-item {
        .k-link {
            font-size: 12px;
            color: #111111 !important;
            border-right: 2px solid rgba(17, 17, 17, 0.141);
        }
    }

    .k-tabstrip-item.k-item:focus {
        box-shadow: none !important;
    }

    .k-tabstrip-item.k-item.k-active {
        &.k-tab-on-top {
            border: 0 !important;
        }

        .k-link {
            border-bottom: 4px solid #03AAFC;
            background: $BG-MENU-ITEM-SELECTED !important;
            /*color: $WHITE-TEXT !important;*/
        }
    }
}

.k-input-solid {
    background-color: #ffffff!important;
}

.k-input-inner {
    background-color: rgb(3,170,252,9%);
}
.invalid {
    background-color: #FFD1D178;
    border: 1px solid #FF0000;
}


/*.k-input-button, .k-input-button:hover {
    background-color: #E6F1FD!important;
}*/

.k-btn-grid-delete {
    background-color: $RED-COLOR !important;
    border-color: $RED-COLOR !important
}

.k-btn-grid-edit {
    background-color: $GREEN-COLOR !important;
    border-color: $GREEN-COLOR !important
}

.k-btn-grid-share {
    background-color: $PURPLE-COLOR !important;
    border-color: $PURPLE-COLOR !important;
}

.k-btn-grid-download {
    background-color: $BLUE-COLOR !important;
    border-color: $BLUE-COLOR !important;
}

.k-radio:checked, .k-radio.k-checked {
    border-color: $PRIMARY-COLOR;
    color: white;
    background-color: $PRIMARY-COLOR;
}

.k-input-solid:focus, .k-input-solid.k-focus {
    color: #004567 !important;
    background-color: #fff !important;
    border-color: rgba(3,70,252,.60) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem rgba(3,70,252,.15) !important;
}

.initial-data-loader .k-loader-container-overlay.k-overlay-light {
    background-color: white;
}

.k-loader-container {
    z-index: 1056;
}

.component-title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.custom-elipse {
    box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}
/*Modal style*/
.modal {
    position: fixed;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: block;

    .close {
        cursor: pointer;
        font-size: 18px;
    }

    .modal-dialog {
        z-index: 1055;
        background-color: #ffffff;
        border-radius: 20px 20px 12px 12px !important;

        &.modal-md-new {
            width: 730px;

            .modal-content {
                width: 730px;
            }
        }
    }

    .modal-header {
        border-radius: 12px 12px 0 0 !important;
        height: 50px;
    }

    .modal-content {
        border-radius: 12px !important;
        background-color: #fff0;
        border: 0;
    }

    .modal-backdrop.show {
        opacity: .8;
    }
}

.k-wizard-buttons {
    display: none !important;
}

.k-wizard {
    .k-wizard-content {
        overflow-x: hidden !important;
    }
}

.custom-border-y {
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    width: 100%;
    padding: 4px 0;
}

.row.compact-row > .col-6 {
    padding: 10px;
}

label, a,
.text-14 {
    font-size: 12px !important;
}

.text-16 {
    font-size: 16px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

th, td, span, p {
    font-size: 12px !important
}

.k-scheduler-row {
    font-size: 12px !important
}
/*TELERIK TEXTBOX INNER TEXT FONT SIZE & PLACEHOLDER SIZE*/
.k-input-inner {
    font-size: 12px
}
/*TOASTR CLASS*/
.k-notification-group {
    z-index: 1060 !important;
}

.k-notification {
    max-width: 400px;
}

.ap-title {
    color: $SECONDARY-COLOR;
    background: #E3E3E3;
}

.ap-value {
    color: $SECONDARY-COLOR;
    /*background: #F8F8F8;*/
    border-bottom: 2px solid #E3E3E3;
}

.ad-text {
    padding: 5px !important;
}

.nearby-weather-1 {
    border-bottom: 2px solid #E3E3E3;
}

.common-bg, .common-bg > .k-input-inner, .common-bg > .k-input-button {
    background: #03AAFC0f !important;
}

/*.k-input-md .k-input-button {
    background-color: #E6F1FD !important;
}
.k-input-spinner {
    & button {
        background-color: #E6F1FD !important;
    }
}*/

.weather-brify {
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
}

#collapseOne .card-body {
    padding: 0px 7px 5px 5px !important;
}

/*Update all controll height*/
.k-input {
    height: 31px !important;
}

.k-multiselect {
    height: auto !important;
}

.no-box-shadow {
    box-shadow: none !important;
}

.k-calendar-sm.k-month-calendar, .k-calendar-sm .k-calendar-monthview {
    --INTERNAL--kendo-calendar-cell-size: var( --kendo-calendar-sm-month-cell-size, 38px );
}

.highlightDates {
    border: 1px solid rgb(21 203 55 / 70%) !important;
    border-radius: 50%;
}

.k-calendar-custom-small {
    width: 100% !important;

    .k-calendar-header {
        width: 100% !important;
        display: block !important;
    }

    .k-calendar-view.k-calendar-monthview {
        margin: 0 !important;
        padding: 0 4px;
        width: 100%;

        table {
            border-spacing: 10px;
        }

        .k-calendar-td {

            .k-link {
                border-radius: 50%;
            }

            inline-size: var(--INTERNAL--kendo-calendar-cell-size, 25px);
            block-size: var(--INTERNAL--kendo-calendar-cell-size, 25px);
        }

        .k-calendar-table.k-month {
            margin: 0 !important;
        }
    }

    .k-calendar-thead > .k-calendar-tr > .k-calendar-th, .k-calendar-tbody > .k-calendar-tr > .k-calendar-th {
        width: 20px !important;
        height: 20px !important;
    }
}

.profile-image-hover {
    .highlight-hover {
        background-color: transparent;
        border: transparent;
    }
}

.profile-image-hover:hover {
    .highlight-hover {
        padding: 5px 10px !important;
        border-color: #03AAFC !important;
        background-color: #03AAFC !important;
        border-radius: 8px;
    }
}

.iframe {
    border: 2px solid;
    border-color: black;
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .col-xl-2 {
        width: 20% !important;
    }

    .col-xl-10 {
        width: 80% !important;
    }
}

@media (max-width: 2000px) and (min-width: 1441px) {
    .col-xl-2 {
        width: 20% !important;
    }

    .col-xl-10 {
        width: 80% !important;
    }
}

.logbook-header {
    cursor:pointer;
    background: #F8F8F8;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.logbook-control-max-width{
    width:auto;
}
.textarea-height
{
    height:60px!important;
}
.flight-image-delete-btn {
    max-height: 25px;
    max-width: 100px;
}
