@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


html, body {
    font-family: Outfit,'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.k-drawer {
    font-family: Outfit,'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*NEW COLOR PLATE*/
$PRIMARY-COLOR: #042455;
$SECONDARY-COLOR: #3066F8;
$NEUTRAL-COLOR: #1F1F1F;
$SOLID-COLOR: #9E27B0;

$STATE-INFO-COLOR: #2F80ED;
$STATE-SUCCESS-COLOR: #27AE60;
$STATE-WARNING-COLOR: #E2B93B;
$STATE-ERROR-COLOR: #EB5757;
/*Title Text Color*/
$TITLE-TEXT-VWHITE: #020E22;
$TITLE-TEXT-VDARK: #F7FAFF;
/*Paragraph Text Color*/
$PARAGRAPH-TEXT-VWHITE: #4D4D4D;
$PARAGRAPH-TEXT-VDARK: #042455;
/*Body Background Color*/
$BODY-BACKGROUND-VWHITE: #042455;
$BODY-BACKGROUND-VDARK: #042455;

/*Button Text Color*/
$BUTTON-TEXT-VWHITE: #042455;
$BUTTON-TEXT-VDARK: #042455;
/*Disabled Text Color*/
$DISABLED-TEXT-VDARK: #042455;

$BG-DARK-BLUE: #022254;
$BG-MENU-ITEM: #0062FE;
$BG-MENU-ITEM-SELECTED: #013587;
$BG-MENU-ITEM-SELECTED-L-BORDER: #0062FE;
$BG-MENU-ITEM-HOVER: #022a6a;
$BG-MAIN-MENU: $BG-DARK-BLUE;

$BG-BTN-PRIMARY: $BG-DARK-BLUE;
$BG-BTN-PRIMARY-HOVER: #022a6a;
$BG-BTN-DANGER: #EE0808;
$BG-BTN-DANGER-HOVER: #CA2323;
$BG-BTN-INFO: #008EA4;
$BG-BTN-INFO-HOVER: #17A2B8;
/*$BG-BTN-SECONDARY:#022A6A;
$BG-BTN-SUCCESS: #022A6A;
$BG-BTN-DANGER: #022A6A;
$BG-BTN-WARNING: #022A6A;
$BG-BTN-INFO: #022A6A;
$BG-BTN-LIGHT: #022A6A;
$BG-BTN-DARK: #022A6A;
$BG-BTN-LINK: #022A6A;*/

$BG-LIGHT-BLUE: #96B9EF;
$BG-BLUE: #0062FE;
$BG-COMMON-GRAY: #E1DEDE;

$BG-PRIMARY-COLOR: #1151F3;
$BG-SECONDARY-COLOR: rgba(17, 81, 243, 0.16);
$BG-LIGHT-COLOR: #E9EAED;
$BG-INFO-COLOR: #12A4F5;
$BG-SUCCESS-COLOR: #009B51;
$BG-WARNING-COLOR: #FFAE11;
$BG-DANGER-COLOR: #EE0808;

/*Card BACKGROUND COLOR */
$BG-FLIGHT-CARD: #537AB7;

body {
    background: $BG-COMMON-GRAY !important;
}

.bg-primary-f {
    background-color: $BG-DARK-BLUE;
}

.bg-secondary-f {
    background-color: $BG-SECONDARY-COLOR;
}

.bg-light-f {
    background-color: $BG-LIGHT-COLOR;
}

.bg-info-f {
    background-color: $BG-INFO-COLOR;
}

.bg-success-f {
    background-color: $BG-SUCCESS-COLOR;
}

.bg-warning-f {
    background-color: $BG-WARNING-COLOR;
}

.bg-danger-f {
    background-color: $BG-DANGER-COLOR;
}

form .btn-primary {
    margin-right: 4px
}

form .btn-success {
    margin-right: 4px
}

form .btn-danger {
    margin-right: 4px
}

/*.icon-container {
    width: 50px;
    height: 50px;
    position: relative;
}*/

form .row {
    margin-bottom: 16px;
}

/*img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}*/

.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
}

.TelerikNotification .k-notification-container .k-notification-wrap {
    width: 300px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    align-items: center;
}

.big-notification .k-notification-container .k-notification-wrap {
    width: 350px;
    height: 100px;
}

.big-notification {
    z-index: 1234;
}

html, body, app, .k-drawer-container, .k-drawer-content, .main {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.main {
    overflow-y: auto;
    background-color: #F5F7FF;

    .content {
        /*margin-left: 16px !important;*/
        padding: 0;
        /*margin-right: 16px !important;*/
        /*background-color: red;*/

        .left-header {
            max-height: 54px;
            min-height: 54px;
            background-color: $BG-MAIN-MENU;
            color: white;
        }
    }
}

.k-drawer-content {
    overflow-x: auto;
    font-size: 16px
}

.top-row {
    left: 0;
}

.drawer-hamburger {
    position: absolute;
    z-index: 2;
}

/*.k-drawer-item:hover, .k-drawer-item.k-state-hover, .text-info {
    color: whitesmoke !important;
    background-color: #96B9EF;
}*/
/*LEFT MENU NAV BAR*/
.k-drawer-mini .k-drawer-wrapper {
    /*width: calc(2 * 2rem + 16px);*/
    width: 84px;
}
.k-drawer-container.k-drawer-left.k-drawer-push.k-drawer-mini {
    /*.k-drawer-wrapper {
        //width: 0;
    }*/

    &.k-drawer-expanded {
        .k-drawer-wrapper {
            width: 270px !important;
        }
    }
}


.user-face {
    padding: 34px;
    font-size: 16px;
}
.k-button.drawer-hamburger {
    background: transparent;
    color: white;
    border: 0;
    box-shadow: none;
    padding: 34px;
    /* .k-button-md.k-icon-button {
        padding: 34px;
    }*/
}
.telerik-blazor {

    &.k-drawer {
        background-color: $BG-MAIN-MENU;
        color: white;

        .k-drawer-item {
            border-left: 6px solid $BG-MAIN-MENU;
            /*height: 35px;*/

            .selected-arrow {
                width: 0;
                height: 0;
                position: absolute;
                right: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid rgb(245 247 255);
            }
        }

        .selected-nav-item {
            background-color: $BG-MENU-ITEM-SELECTED;
            border-left: 6px solid $BG-MENU-ITEM-SELECTED-L-BORDER;
        }

        .k-drawer-item:hover, .k-drawer-item.k-state-hover {
            color: white;
            background-color: $BG-MENU-ITEM-HOVER;
        }
    }
}
.btn {
    &.k-btn-primary {
        border: 1px solid $BG-BTN-PRIMARY !important;
        background-color: $BG-BTN-PRIMARY !important;
    }

    &.k-btn-primary:hover {
        color: white;
        border: 1px solid $BG-BTN-PRIMARY-HOVER !important;
        background-color: $BG-BTN-PRIMARY-HOVER !important;
    }

    &.k-btn-danger {
        color: white;
        border: 1px solid $BG-BTN-DANGER !important;
        background-color: $BG-BTN-DANGER !important;
    }

    &.k-btn-danger:hover {
        color: white;
        border: 1px solid $BG-BTN-DANGER-HOVER !important;
        background-color: $BG-BTN-DANGER-HOVER !important;
    }

    &.k-btn-info {
        border: 1px solid $BG-BTN-INFO !important;
        background-color: $BG-BTN-INFO !important;
    }

    &.k-btn-info:hover {
        color: white;
        border: 1px solid $BG-BTN-INFO-HOVER !important;
        background-color: $BG-BTN-INFO-HOVER !important;
    }

    &.k-btn-secondary {
       margin-left:5px;
    }

    &.k-btn-secondary:hover {
        color: white;
    }
}
.login-button {
    width: 100% !important;
}

/*TOP HORIZONTAL HEADER START*/

.header-profile-dropdown {
    &:hover {
        background-color: $BG-BTN-PRIMARY !important;
    }

    background-color: $BG-BTN-PRIMARY !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}
.dropdown-menu {
    box-shadow: 0 4px 8px 0 rgb(2 34 84 / 35%), 0 6px 20px 0 rgb(2 34 84 / 61%) !important;
}
.show-notification-dot{
    position: relative !important;
    top: -3px !important;
    color: red;
    content: '';
    height: .60em;
    width: .60em;
    background: currentColor;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -.65em;
    transform: translateY(-50%);
}
/*TOP HORIZONTAL HEADER END*/

/*TelerikTabStrip START*/
.k-tabstrip-list {
    .k-tabstrip-items-wrapper {
        z-index: 0;
    }
}

/* Popup buttons */

.close-button {
    cursor: pointer;
    border: none;
    background: none;
    color: #FFFF;
}

.k-actions-start {
    justify-content: flex-end;
}

.cancel-btn{
    margin-left:8px;
}
/*TelerikTabStrip END*/

/*Telerik toastr notification*/
.sm-notification {
    z-index:1;
}

/*Telerik Card Css*/
.flight-info-card {
    width: 1106px;
    border: 2px solid #E0E0E0;
    border-radius:8px;
}

.card-fonts{
    font-size: 18px;
    font-weight: 600;
}

.image-card-info {
    border: 1px solid #575757;
    border-radius: 8px;
    width: 251px;
}

.flight-cards {
    width: 251px;
    background: $BG-FLIGHT-CARD !important;
    border: 1px solid #575757;
    border-radius: 8px;
    color: #FFFF;
}

.k-tabstrip-items-wrapper .k-item {
    color: #CCCCCC;
}