<style>
    /* enable absolute position for the icon */
    .tb-icon-container {
        position: relative;
    }

        /* position icon over textbox */
        .tb-icon-container .k-icon {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0.5em;
        }

    .comp-full-width {
        width: 150px !important;
    }
</style>

<div id="parent" style="position: relative">
    <div class="collapsebar" style="position:absolute;left:12px">
        <div class="row">
            <div class="py-2">
                <span class="ma-2">
                    <span class="mr-2" @onclick=@(() => LoadMap())>
                        <FontLabel Class="text-white cursor-pointer"><CustomIcons IconName="refresh" PrimaryColor="white"> </CustomIcons></FontLabel>
                    </span>
                    @*     <span class="tb-icon-container">
                        <TelerikIcon Icon="zoom" Class="pt-1 px-1" />
                        <input placeholder="&nbsp;&nbsp;    search location" style="border-radius:100px;" />
                        </span>*@
                    @*<span class="mx-2">
                        <FontLabel Class="text-white cursor-pointer"><TelerikIcon Icon="share" Class="pt-1" /></FontLabel>
                        </span>*@
                </span>

            </div>
        </div>
    </div>
    <div class="iframe">
        <iframe width="100%" id="radarMap" height="600" src="@mapSrc" frameborder="0">
        </iframe>
    </div>
</div>
